body {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'merryweather', sans-serif; 
}

table {
    width: 250px;
    margin-right: 150px;
}

h1 {
    display: block;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 0%;
    font-size: 2em;
    font-weight: bold;
    color: #a0a1a2;
    text-indent: 3%;
}


h2 {
    margin-left: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    color: rgb(178, 179, 180);
}

p {
    margin-left: 40%;
    padding: 2%;
    border-radius: 5%;
    background-color: rgba(176, 214, 241, 0.144);
    color: #989a9b;
}

.less {
    margin-left: 1%;
    text-indent: 5px;
}

.cont {
    margin-left: 1%;
    text-indent: 5px;
    color: slategray;
    text-decoration: none
}

.menu {
    padding: 1%;
    padding-bottom: 2%;
    margin: 0%;
    background: linear-gradient(45deg, #eef4f8, #c1dff2);
    color: #ffffff;
    text-decoration: none
}

.main {
    margin-left: 150px;
    margin-right: 150px;
    padding: 2%;
    color: #7f8589;
}

.footer {
    margin: 0%;
    padding: 1%;
    background-color: rgba(181, 216, 238, 0.144);
    color: #83929f;
    font-size: small;
    text-align: center;
}

.for_image {
    margin: 0%;
    padding: 0%;
    background-color: #e3a2d200;
}

img {
    border: 3px;
    border-radius: 5%;
    width: 1200px;
}